<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head.ejs') %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Add products</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
		
	<!-- Formulario -->
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
				</div>
				<div class="d-flex justify-content-center form_container">
	<form class="formularioProducto">
		<!-- form-group - product name -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
			<input name="" class="form-control" placeholder="Product name" type="text">
		</div> 
		<!-- form-group - product image -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
			 </div>
			<input name="" class="form-control" placeholder="Product image" type="email">
		</div> 
		<!-- form-group - created at-->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-building"></i> </span>
			</div>
			<input name="" class="form-control" placeholder="Created at" type="text">
		</div>         
		<!-- form-group// -->                                      
		<div class="form-group">
			<a href="/"><button type="button" class="btn btn-primary btn-block"> Add product </button></a>
		</div>                                                       
	</form>
			</div>
		</div>
	</div>
</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>