<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head.ejs') %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-t">Register</h2>
			</div>
			<% if(locals.errors){ %>
				<h2 class="products-t" style="color:red"><%=locals.errors.message  %> </h2>			
			<% } %> 
	<!-- Formulario -->
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
				</div>
				<div class="d-flex justify-content-center form_container">
					<form class="formularioRegistro" action="/account/register" method="POST" enctype="multipart/form-data"> 
						<!-- Username -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-user"></i> </span>
							</div>
							<input name="username" class="form-control" placeholder="Username" type="text" value="">
						</div> 
						<!-- Email -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
							</div>
							<input name="email" class="form-control" placeholder="Email address" type="email" value="">
						</div> 
						<!-- Username Photo-->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-user"></i> </span>
							</div>
							<input name="userimg" class="form-control" placeholder="UsernamePhoto" type="file" value="" accept=".jpg, .png, .jpeg,">
						</div> 
						<!-- Phone number -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
							</div>
							<input name="phoneNumber" class="form-control" placeholder="Phone number" type="number" value="">
						</div> 
						<!-- Date of birth -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-building"></i> </span>
							</div>
							<input name="dateOfBirth" class="form-control" placeholder="Date of birth" type="date" value="">
						</div> 
						<!-- Password-->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
							</div>
							<input name="password" class="form-control" placeholder="Create password" type="password" value="">
						</div> 
						<!-- Password-->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
							</div>
							<input name="checkpassword" class="form-control" placeholder="Repeat password" type="password" value="">
						</div> 
						<!-- Boton Create account -->                                      
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" class="btn login_btn" >Create account</button>
						</div> 
						<!-- form-group// -->      
						<p class="text-center">Have an account? <a href="/account/login">Log In</a> </p>                                                                 
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>